.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;
    padding-bottom: 50px;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        img {
            padding-bottom: 32px;
        }

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }

    a {
        color: var(--color-black);
        background-color: var(--color-primary);
        border-style: solid;
        border-color: transparent;
        border-width: 0px;
        border-radius: 100px;
        text-transform: uppercase;
        padding: 8px 16px;
        text-align: center;
        align-self: flex-start;
    }
}

.card__media {
    aspect-ratio: 595/490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 16px;
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    h3,
    p,
    a {
        margin: 0;
    }
}

.section__card {
    h2 {
        color: rgba($color: #fff, $alpha: 0.55);
        padding-bottom: 100px;
    }
    .bold {
        color: rgba($color: #fff, $alpha: 1);
    }

    p {
        color: rgba($color: #fff, $alpha: 0.55);
    }
    .tag {
        color: #fff;
    }
}
