.header {
    padding: 25px 0;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    a {
        color: var(--color-white);
        font-family: var(--font-primary);
        font-weight: 600;
        font-size: typo(20px);
        line-height: 150%;
        text-transform: uppercase;
    }
}
