{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/Sus_scrofa_cristatus.png" alt="magnifique image d'un sanglier" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section section__card">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span class="bold">laboratoires</span>
        </h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab1.png" alt="un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        <span class="bold">Le premier laboratoire</span>
                        de la session, pour se rappeler de la matière des sessions passés.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://vgaudet.dectim.ca/cours/cw3/sem01/" target="_blank">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab2.png" alt="un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        Deuxième laboratoire qui servait d'introduction au stack TimTools qui sera utilisé
                        <span class="bold">pour le reste de la session.</span>
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="https://vgaudet.dectim.ca/cours/cw3/sem02/" target="_blank">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab3.png" alt="un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUISA JOY</h3>
                    <p>
                        Troisième laboratoire dans lequel j'ai créée un portfolio fictif pour une personne
                        <span class="bold">qui n'existe pas.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://vgaudet.dectim.ca/cours/cw3/sem03/" target="_blank">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab4.png" alt="un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Quatrième laboratoire qui était un réintroduction des notions de JavaScript
                        <span class="bold">appris en session 1.</span>
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="https://vgaudet.dectim.ca/cours/cw3/sem04/" target="_blank">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section__reactif">
    <div class="wrapper">
        <h2>
            Mes
            <span class="bold">laboratoires réactifs</span>
        </h2>
        <div class="swiper js-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/lab7.png" alt="un beau laboratoire" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 07 - SITE RÉACTIF</h3>
                            <p>
                                Septième laboratoire qui a été une introduction au design réactif qui
                                <span class="bold">change selon la largeur de l'écran.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="https://vgaudet.dectim.ca/cours/cw3/sem07/" target="_blank">
                                Voir le laboratoire
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/lab8.png" alt="un beau laboratoire" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 08 - CRYPTOQC</h3>
                            <p>
                                Laboratoire de la semaine 8 pour renforcer les connaissances sur
                                <span class="bold">les sites webs réactifs.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="https://vgaudet.dectim.ca/cours/cw3/sem08/" target="_blank">
                                Voir le laboratoire
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/lab9.png" alt="un beau laboratoire" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 09 - SWIPER</h3>
                            <p>
                                Neuvième laboratoire qui à introduit
                                <span class="bold">la librairie Swiper JS</span>
                                pour créer des carroussels.
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="https://vgaudet.dectim.ca/cours/cw3/sem09/" target="_blank">
                                Voir le laboratoire
                                <svg class="icon icon--lg">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
